<h2 class="mb-4">Profil utilisateur</h2>
<form
  [formGroup]="profileForm"
  (ngSubmit)="onSave()"
  class="p-fluid md:w-6 mx-auto"
>
  <div class="p-field mb-3">
    <input id="name" type="text" pInputText formControlName="name" />
  </div>
  <div class="p-field mb-3">
    <input id="email" type="text" pInputText formControlName="email" />
  </div>
  <button
    pButton
    label="Sauvegarder"
    class="p-button-primary w-full mb-3"
  ></button>
  <button
    pButton
    label="Se déconnecter"
    class="p-button-text p-button-danger w-full"
    (click)="onLogout()"
  ></button>
</form>
