<div class="mx-4">
  <div class="flex justify-content-between align-items-center">
    <button
      pButton
      type="button"
      label="Créer un article"
      class="p-button-primary"
      routerLink="/articles/create"
    ></button>
    <div class="mr-4">
      <span>Trier par</span> <i class="pi pi-sort-amount-down-alt p-ml-2"></i>
    </div>
  </div>
  <div class="grid my-4">
    <div
      *ngFor="let article of subscribedArticles$ | async"
      class="col-12 sm:col-6 md:col-4 lg:col-3"
    >
      <app-article-card
        [article]="article"
        (articleClick)="onArticleClick($event)"
      ></app-article-card>
    </div>
  </div>
</div>
